*{
    margin: 0;
}
#happiness{
    font-family: cursive;
    color: green;
    display: flex;
    margin: 40px 50px 5px ;
    /* margin-bottom: 10px; */
}
#line{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    text-align:justify;
    margin-left: 120px;
}
#more{
    display: flex;
    margin-left: -70px;
}